html{
    height: 100%;
    width:100%;
    margin:0;
    padding: 0;
}
body{
    padding: 8% 0 8% 0;
    margin: 0;
    box-sizing: border-box;
    height: 100%;
    width: 100%;
    background-image: url(surface.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}
#wrapper{
    height: 100%;
    width: 100%;
    max-width: 1024px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
}
.page{
    display: flex;
    width: 100%;
    flex-direction: row;
}
#page0{
    display: none;
}
#page1{
    display: flex;
    flex-flow: row wrap;
    align-content: space-between; 
}
nav{
    width: 15%;
    min-width: 150px;
    border: 2px solid transparent;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    height: 100%;
    opacity: 1.0;
    max-height: 750px;
    background-color: grey;
}
#n1{
    border-top-left-radius: 0;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 20px;
}
main{
    width: 70%;
    border: 2px solid transparent;
    min-width: 300px;
    height: 100%;
    max-height: 1000px;
    background-color: green;
    overflow: scroll;
}
#izq{
    width: 25%;
    height: 100%;
    background-color: green;
    display:flex;
    flex-wrap: wrap;
    align-content: space-between;
}
#cerrar0{
    width: 100%;
    height: 25%;
    background-color: yellow;
}
#comentar0{
    width: 100%;
    height: 25%;
    background-color: red;
}
#middle{
    width: 50%;
    background-color: blue;
    height: 100%;
    display: flex;
    flex-flow: column wrap;
    align-content:center;
}
.smb{
    width: 47%;
    height: 24%;
    box-sizing: border-box;
}
#cl{
    border-bottom-style: solid;
    border-bottom-color: black;
    border-right-style: solid;
    border-right-color: black;
    background-color: lightblue;
}
#cm{
    border-bottom-style: solid;
    border-bottom-color: black;